h1 {
	font-size: 35px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic,sans-serif;
	font-weight: bold;
	margin: 20px
}
h1:hover {
	color: lightpink;
}
ul {
	list-style-type: none;
	margin: 20px;
	padding: 0;
	overflow: hidden;
	background-color: white
}
li {
	float: left;
	padding: 10px
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0px
}
li a:hover {
	color: lightpink;
}
a {
	text-decoration: none;
}
